<p id="email-alert" style="display: none;background-color: aliceblue; padding: 20px; font-size:20px; color: forestgreen;font-weight: 500;">Your email has been successfully submitted.</p>
<header>
    <nav class="">
        <div class="row">
            <img src="<%= asset_path 'logo' %>" alt="CDMI logo" class="logo">
			      <img src="<%= asset_path 'logo' %>" alt="CDMI logo" class="logo-black">

            <ul class="main-nav js--main-nav">
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#works">HOW IT WORKS</a></li>
                <li><a href="#service">OUR SERVICES </a></li>
                <li><a id="login-btn" href="#">Client LogIn</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Stop paying your bad debts <br> and start filtering them.</h1>
        <a class="btn btn-full" id="fix-credit-btn" href="#">Fix my credit now </a>
        <a class="btn btn-ghost js--scroll-to-start" href="#works">Learn more</a>
    </div>

</header>


<section class="section-features js--section-features" id="about">
    <div class="row">
        <h2>Rapid Restructure: The Fastest Way To Become Debt Free With Perfect Credit </h2>

        <p class="long-copy">
            We offer the only FICO compliant credit restoration program in the country that uses Debt Filtration. Now you can use our award winning 4 Step system to take control over your finances in months instead of years: For the first time ever you can control, restore and or enhance your credit score at will and accurately forecast your borrowing power.     </p>
    </div>

    <div class="row">
        <div class="col span-1-of-4 box hover  overflow-hide">
            <i class="ion-funnel icon-big"></i>
            <h3 class="para-heading"><strong>Debt Filtration</strong></h3>

                <p class="showmore">
                  Debt Filtration  is a system of 48 government laws and programs that will quickly eliminate your bad
                  debt while simultaneously restoring your credit, legally and permanently, without payment, bankruptcy,
                  consumer credit counselling or debt consolidation companies
                </p>

        </div>
        <div class="col span-1-of-4 box hover overflow-hide">
            <i class="ion-cash icon-big"></i>
            <h3 class="para-heading"><strong>Strategic Credit Restoration</strong></h3>
            <p class="showmore"> We are not a credit repair company and we will never offer any credit repair products. Our products
                are based on a new FICO-driven technique called Rapid Restructure. Comparing credit repair to Rapid
                Restructure is like comparing a horse and buggy to a Ferrari. Yes, they are both transportation but the
                technology differential makes them light years apart.
            </p>
        </div>
        <div class="col span-1-of-4 box hover overflow-hide">
            <i class="ion-arrow-graph-up-right icon-big"></i>
            <h3 class="para-heading"><strong>Score Enhancement Algorithm</strong></h3>
            <p class="showmore">Your credit score is created by using complex algorithms. Therefore it takes an algorithm to beat an algorithm.
                That is why our founder wrote the only FICO restoration algorithm available in this country. Using this algorithm
                we currently hold all three credit industry records.</p>
        </div>
        <div class="col span-1-of-4 box hover overflow-hide">
            <i class="ion-ios-copy-outline icon-big"></i>
            <h3 class="para-heading"><strong>Pre Underwriting</strong></h3>
            <p class="showmore">Pre-underwriting takes the credit restoration process one step further by putting your credit through a more
              thorough review process after you have reached your desired score. The pre-underwriting process will filter and
              identify any barriers to the loan qualification process. You now have a tool that will allow you to be approved
              for every loan, now you can turn your credit into money.  </p>
        </div>
    </div>
    <div style="text-align: center">
      <p><a href="#contact">CALL NOW TO SPEAK TO A CERTIFIED CREDIT PLANNER(CCP)</a></p>
    </div>
</section>

<section class="section-steps" id="works">
    <div class="row">
        <h2>HOW IT WORKS - SIMPLE AS 1,2,3 </h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 steps-box">
            <%= video_tag 'videoplayback.mp4', :controls => true %>
        </div>
        <div class="col span-1-of-2 steps-box">
            <div class="works-step clearfix">
                <div>1</div>
                <p style="padding-left: 100px;">FILL OUT ONLINE APPLICATION</p>
            </div>
            <div class="works-step clearfix">
                <div>2</div>
                <p style="padding-left: 100px;"> JOIN PRIVACYGUARD CREDIT MONITORING SERVICE SO THAT WE CAN CUSTOMIZE A CREDIT SOLUTION
                  FOR YOU AND YOU CAN WATCH YOUR CREDIT IMPROVE EVERY MONTH</p>
            </div>
            <div class="works-step clearfix">
                <div>3</div>
                <p style="padding-left: 100px;">SUBMIT SECURE PAYMENT AFTER YOU APPROVE YOUR PERSONAL STRATEGY THEN WE WILL ASSIGN
                  YOU A CERTIFIED CREDIT PLANNER TO WALK YOU THROUGH THE RESTORATION AND DEVELOPMENT
                  PROCESS</p>
            </div>

        </div>
    </div>
</section>

<section class="section-cities" id="service">
    <div class="row">
        <h2>ADDITIONAL SERVICES WE OFFER</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box ">
            <i class="ion-android-happy icon-big"></i>
            <h3 class="para-heading"><strong>PERFECT BUSINESS CREDIT</strong></h3>
            <p class="">
              To run and build your successful business, you need to qualify for loans and credit lines at the
              best loan rates possible. Business credit is essential to make this happen, and it helps you
              access money even when you can’t qualify for a loan. The CDMI Business Credit Builder helps
              you build your business credit with a step by step proven, field tested, business owner
              approved, and highly personalized process. By using our full-service business credit adviser,
              you’ll be guided every step of the way, simplifying your experience of obtaining business credit.</p>
        </div>
        <div class="col span-1-of-2 box ">
            <i class="ion-ios-stopwatch-outline icon-big"></i>
            <h3 class="para-heading"><strong>PAY YOUR JUDGMENT, BENEFIT FROM JUDGMENT ABATEMENT</strong></h3>
            <p class="">Our judgment abatement team is one of the best in the country. They have been extremely
              successful helping our clients reverse, discontinue, dismiss or suspend judgments. If you
              simply pay or settle you judgment it will still destroy your credit. After all, a paid or satisfied
              judgment scores the same as an unpaid judgment. In addition, our methodologies have
              successfully stop garnishments and bank liens. Whether you think you owe the debt or not you
              will benefit from foreclosure abatement.</p>
        </div>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box ">
            <i class="ion-trash-b icon-big"></i>
            <h3 class="para-heading"><strong>HARD TARGET REMOVAL</strong></h3>
            <p class="">
              Our hard target removal process is the DEFINING SKILL set that sets us apart from all other credit
              companies in the country. We have the ability to design a strategy to remove every single
              derogatory item on your credit. This is called ZDC (Zero Derogatory Credit). Credit repair
              companies only promise to remove errors or mistakes. They cannot remove those items which
              are accurate and verifiable. Just ask them yourself. Our hard target strategy can remove hard
              to dispute items like bankruptcy, foreclosures, repossessions, student loan defaults, rolling lates
              and tax liens.
            </p>
        </div>
        <div class="col span-1-of-2 box ">
            <i class="ion-thumbsup icon-big"></i>
            <h3 class="para-heading"><strong>LOANS FOR ANY REASON</strong></h3>
            <p class="">
              In 2015 our founder was asked to speak to Congress on the problem of access to capital. The
              reason we were called by Congress is because we have such a comprehensive understanding
              of finance in America. In addition, we have the relationships with our lenders to help push
              through those tough hard to finance cases. If you have a 720 credit score you qualify for up to
              $250,000 unsecured in about 2 weeks. We handle every type of loan possible. More
              importantly we pre-underwrite your loans so that you are always approved.
            </p>
        </div>
    </div>

</section>


<section class="section-testimonials">
    <div class="row">
        <h2>Our customers can't live without us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
              I tried for over three years To get my credit fix. I hired attorneys and
              so called credit experts who all failed. Fortunately, a dear friend
              recommended Dr. Grayson and within 60 days I had an 850 credit
              score.
              <cite><img src="<%= asset_path 'dr' %> " alt="Dr Allen Ross">
               <p>Dr Allen Ross, Economics Professor Columbia University</p>
              </cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Dr. Michael Grayson is brilliant. He is my #1 resource to repair
                personal or business credit. He has helped hundreds of business owners
                that I have referred to him. If you need to repair your credit call Dr. Grayson today."
                <cite><img src="<%= asset_path 'woman' %>" alt="Melinda Emerson">
                  <p>Melinda Emerson, the country’s #1 small business expert</p>
                </cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
              Once CDMI had finished my credit it felt like I had just gotten out of
              prison. Dr Grayson gave me the highest credit score in the world, a
              perfect 990.
              <cite><img src="<%= asset_path 'man' %>" alt="Richard Humphrey">
                <p>Richard Humphrey, president Entrepreneurs Organization</p>
              </cite>
            </blockquote>
        </div>
    </div>

</section>


<section class="section-workshops" >
  <div class="row" style="margin-bottom: 70px;">
    <h2>WE OFFER ON OF THE MOST EXCITING FINANCIAL LITERACY WORKSHOPS IN THE COUNTRY.</h2>
    <p>
      WE ARE CONSTANTLY SEEKING TO SHARE OUR TECHNOLOGY. IF YOUR COMPANY,
      CIVIC ORGANIZATION, RELIGIOUS ORGANIZATION, CORPORATION OR GROUP WOULD LIKE TO
      BENEFIT FROM OUR FREE ONSITE CREDIT RESTORATION WORKSHOP PLEASE GIVE
      US A CALL AT 516-620-3500. OR SIMPLY JOIN US TO HELP PROMOTE OUR VISION:
    </p>
  </div>

  <section class="row" id="specs">
    <div class="col span-1-of-3" id="affiliate" >
      <i class="ion-person icon-big"></i>
      <h3  class="para-heading"><strong>BECOME AN AFFILIATE</strong></h3>
      <p>Earn an extra $5000 per month helping your friends and
        family get access to capital, eliminate their bad debts without payment, and get perfect credit in a very
        short time. Over 80% of Americans believe that they have a credit or debt problem. Now you have
        the opportunity to help thousands and make a great salary at the same time.</p>

      <div class="" style="text-align: center;margin-top:20px;">
          <a href="#specs" class="btn btn-full"><h6>BECOME an AFFILIATE</h6></a>
      </div>

    </div>
    <div class="col span-1-of-3" id="donate" >
      <i class="ion-iphone icon-big"></i>
      <h3  class="para-heading"><strong>DONATE TO OUR CROWDFUNDING APP</strong></h3>
      <p>We are delighted to have launched our
        crowdfunding appeal, which aims to raise $500,000 between now and May 25th 2018. Every dollar
        raised during the appeal will be used to launch our new game changing credit restoration app. This
        app will be coded by Google and will change credit for ever. Using our Total Credit Awareness App
        you will be able to do everything that our team of experts currently do manually, only it will happen in
        seconds. Imagine being able to restore, build and enhance your credit instantly. So there’s never
        been a better time to donate and double the impact of your support! This appeal will raise money to
        help us offer the most advanced credit restoration software in the world.</p>

      <div class="" style="text-align: center;margin-top:20px;">
          <a href="#specs" class="btn btn-full"><h6>DONATE TO OUR CROWNDFUNDING APP</h6></a>
      </div>

    </div>
    <div class="col span-1-of-3" id="investor" >
      <i class="ion-social-usd icon-big"></i>
      <h3  class="para-heading"><strong>BECOME A CREDIT INVESTOR</strong></h3>
      <p >Getting started with investing is easy, and
        anyone can do it! Come join our Credit Investor Program and you can invest with your credit.
        No money needed. In addition, investing with your credit is inherently safer than investing
        your hard earned money because we offer Credit Insurance and Debt Insurance.</p>

      <div class="" style="text-align: center; margin-top:20px;">
          <a href="#specs" class="btn btn-full"><h6>BECOME AN INVESTOR</h6></a>
      </div>

    </div>
  </section>

</section>

<section class="map-box" id="contact">

    <div class="form-box" id="form">

        <div class="row">
          <h2>We're happy to hear from you</h2>
          <div class="col span-1-of-2">
            <div id="map"></div>
          </div>

          <div class=" span-1-of-2" style="float: right; padding: 40px;">
            <div style="margin-bottom: 20px">
              <p>  <i class="ion-android-call icon-small"></i>
                For more information give us a call.
                Our Phone Number is <strong>516-602-3500</strong></p>
            </div>
            <div>
              <p style="margin-bottom: 20px;">
                DR MICHAEL C GRAYSON is the president and CEO of Grayson Financial Services and the
                director of the Credit & Debt Management Institute..
              </p>
              <img src="<%= asset_path 'Michael-Grayson.jpg' %>" alt="Michael Grayson">
            </div>
          </div>
        </div>
    </div>
</section>

<!-- <section class="row">

    <div class="col span-1-of-3">
        <div class="plan-box padding">
          <a href="#specs"><h3>BECOME AND AFFILIATE</h3></a>
        </div>
    </div>

    <div class="col span-1-of-3" >
        <div class="plan-box padding">
          <a href="#specs"><h3>DONATE TO OUR CROWNDFUNDING APP</h3></a>
        </div>
    </div>

    <div class="col span-1-of-3">
        <div class="plan-box padding">
          <a href="#specs"><h3>BECOME AN INVESTOR </h3></a>
        </div>
    </div>

</section> -->

<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#works">HOW IT WORKS</a></li>
                <li><a href="#service">OUR SERVICE </a></li>
                <li><a href="#login">CLIENT LOGIN </a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyright &copy; 2018 by cdmi. All rights reserved.
        </p>
    </div>
</footer>


  <!-- The Modal -->
  <div id="formModal" class="modal">


    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

      <div class="" style="margin-bottom: 20px;">
        <h4>We're happy to hear from you</h4>
      </div>


      <%= form_for :newsletter, url: '/sendmail', html: {id: 'newsletter-form'}, remote: true do |f|%>
        <%= f.label 'First Name'%>
        <%= f.text_field :first_name, autofocus: true %>
        <%= f.label 'Last Name'%>
        <%= f.text_field :last_name%>
        <%= f.label 'Email'%>
        <%= f.text_field :email%>
        <%= f.label 'Message'%>
        <%= f.text_area :message%>
        <%= f.submit 'Submit' %>
      <%end%>
    </div>

  </div>



  <div id="loginModal" class="modal">


    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

      <div class="" style="margin-bottom: 20px;">
        <h4>Provide your credentials to login</h4>
      </div>

      <div onmouseover="change_background(this, '#FCF6CF')" onmouseout="change_background(this,'#E8E8E8')" id="client_portal_content" >
          &nbsp;Client Login &nbsp;&nbsp;&nbsp;<INPUT id=logintext size="15" onblur="if (this.value == '') this.value='Your client ID'" onfocus="this.value=''" value="Your client ID"></INPUT><INPUT id=loginbutton onclick="if (document.getElementById('logintext').value != 'Your client ID') window.open('http://www.CMMC186.xyz/progress/progress.php?id=p-'+document.getElementById('logintext').value)" type=button value=Login></INPUT>


      </div>


    </div>

  </div>






<script>
    $(document).ready(function(){
      $('#newsletter-form').on('ajax:success', function(data, status, xhr) {
        console.log(data);
        $('#email-alert').show();
      });
    });


    function initMap() {
        var address = {lat: 40.6549616, lng: -73.6734847};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: address
        });
        var marker = new google.maps.Marker({
            position: address,
            map: map
        });
    }


</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABy6-Lo5pC9pYz1eLoYfkmh0k7Npy4PH0&callback=initMap">
</script>
